# BRAZIL HOUSING DATA-CASE STUDY

# Business Objectives-To analyse the given Housing data and find the suitable cities for Bachelors,Mid-sized family,large sized family according to their needs.

# Importing the necessary libraries

In [1]:
import matplotlib.pyplot as plt             
from tabulate import tabulate               
import matplotlib as mat                     
import seaborn as sns                       
import pandas as pd                         
import numpy as np

In [2]:
# Checking the library versions 
print("Pandas version: ",pd.__version__)
print("Seaborn version: ",sns.__version__)
print("Matplotlib version: ",mat.__version__)

Pandas version:  2.0.3
Seaborn version:  0.12.2
Matplotlib version:  3.7.2

# Reading the file

In [3]:
df = pd.read_csv('DS1_C5_S3_BazilHousing_Data_Hackathon.csv')
df

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10691,São Paulo,80,2,1,0,0,acept,not furnished,0,1400,165,22,1587

# Level 0 Analysis: Understanding Data

# Reading the top 5 rows

In [4]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

# Reading the bottom 5 rows

In [5]:
df.tail()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10691,São Paulo,80,2,1,0,0,acept,not furnished,0,1400,165,22,1587

# Number of rows and columns

In [6]:
print(df.shape)

(10692, 13)

# Display the names of all the columns

In [7]:
print(df.columns)

Index(['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa (R$)', 'rent amount (R$)',
       'property tax (R$)', 'fire insurance (R$)', 'total (R$)'],
      dtype='object')

# Displaying the dataset information

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  int64
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
dtypes: int64(10), object(3)
memory usage: 1.1+ MB

# Checking if there are null values in any columns

In [9]:
df.isnull().sum()

city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

#LEVEL 1 Analysis 
Identify if the data type in each column is categorical or numerical?

Separate out the categorical columns from the numerical types

# Function which seperates Numerical and Categorical column

In [10]:

def seprate_data_types(df):
    categorical = []
    numerical = []
    for column in df.columns:                 
        if df[column].nunique() <100:       
                                                    
            categorical.append(column)
        else:
            numerical .append(column)
            
    return categorical,numerical 
from tabulate import tabulate

categorical, numerical = seprate_data_types(df)

In [11]:
print(tabulate({"Categorical":categorical,
                "numerical": numerical}, headers = ["categorical", "numerical"]))

categorical     numerical
--------------  -------------------
city            area
rooms           hoa (R$)
bathroom        rent amount (R$)
parking spaces  property tax (R$)
floor           fire insurance (R$)
animal          total (R$)
furniture

In [12]:
print(categorical)
print()
print(type(categorical))

['city', 'rooms', 'bathroom', 'parking spaces', 'floor', 'animal', 'furniture']

<class 'list'>

In [13]:
print(numerical)
print()
print(type(numerical))

['area', 'hoa (R$)', 'rent amount (R$)', 'property tax (R$)', 'fire insurance (R$)', 'total (R$)']

<class 'list'>

In [14]:
df.drop(df[(df['city'] == 'São Paulo') | (df['city'] == 'Rio de Janeiro')].index, inplace=True)

In [21]:
df1 = df.groupby(by='city')['rent amount (R$)'].mean()
df1

city
Belo Horizonte    3664.127981
Campinas          2364.290739
Porto Alegre      2337.699916
Name: rent amount (R$), dtype: float64

# Level 1 Analysis (Univariate Analysis)
User-defined function for level 1 analysis of categorical columns

In [ ]:
def info_of_cat(col): 
    print(f"Unique values in {col} are: {df[col].unique()}") 
    print(f"Mode of {col} is {df[col].mode()[0]}")  
    print(f"Number of missing values in {col} is {df[col].isnull().sum()}")

In [ ]:
info_of_cat("city")

In [ ]:
info_of_cat("rooms")

In [ ]:
info_of_cat("bathroom")

In [ ]:
info_of_cat("parking spaces")

In [ ]:
info_of_cat("floor")

In [ ]:
info_of_cat("animal")

In [ ]:
info_of_cat("furniture")

# Visual presentation of City column

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 7))
ax[0].set_title("Count of city")                  
percentage = df["city"].value_counts()         
labels = list(df["city"].value_counts().index) 

sns.countplot(x = df["city"], ax = ax[0])
plt.pie(percentage,labels = labels, autopct= "%0.2f%%") 

plt.show()

# Interpretation:Most of the people belongs from Sao Paulo city which is near by about 55% of the total number of people.

# Visual presentation of rooms column¶

In [ ]:
fig, ax = plt.subplots(figsize= (10, 7))
ax = sns.countplot(x = df["rooms"])
for bar in ax.patches:                                              
    percentage = f"{round(bar.get_height() /len(df), 2)}%"          
                                                                     
    x = bar.get_x() + bar.get_width() /2                            
    y = bar.get_height()                                            
    ax.annotate(percentage, (x, y), va = "bottom", ha ="center" )    
                                                                    
plt.show()

# Interpretation:3 rooms are there available in maximum number of houses approx.31%.

# Visual presentation of bathroom column¶

In [ ]:
fig, ax = plt.subplots(figsize= (10, 7))
ax = sns.countplot(x = df["bathroom"])
for bar in ax.patches:                                              
    percentage = f"{round(bar.get_height() /len(df), 2)}%"          
                                                                     
    x = bar.get_x() + bar.get_width() /2                            
    y = bar.get_height()                                            
    ax.annotate(percentage, (x, y), va = "bottom", ha ="center" )    
                                                                    
plt.show()

# Interpretation:Only one bathroom is available in maximum number of houses.

# Visual presentation of parking spaces column¶

In [ ]:
fig, ax = plt.subplots(figsize= (10, 7))
ax = sns.countplot(x = df["parking spaces"])
for bar in ax.patches:                                              
    percentage = f"{round(bar.get_height() /len(df), 2)}%"          
                                                                     
    x = bar.get_x() + bar.get_width() /2                            
    y = bar.get_height()                                            
    ax.annotate(percentage, (x, y), va = "bottom", ha ="center" )    
                                                                    
plt.show()

# Interpretation:Only one parking space is available in maximum number of houses.

# Visual presentation of floor column¶

In [ ]:
import squarify

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 7))
ax[0].set_title("Count of floor")                  
percentage = df["floor"].value_counts()         
labels = list(df["floor"].value_counts().index) 

sns.countplot(x = df["floor"], ax = ax[0])
squarify.plot(sizes=percentage, label=labels, ax=ax[1],alpha=0.3) # to visualize through a tree map


plt.show()

# Interpretation:Almost 23% houses have zero floors and 10% houses have one floor and so on in decreasing order.

# Visual presentation of animal column¶

In [ ]:
fig, ax = plt.subplots(figsize= (10, 7))
ax = sns.countplot(x = df["animal"])
for bar in ax.patches:                                              
    percentage = f"{round(bar.get_height() /len(df), 2)}%"          
                                                                     
    x = bar.get_x() + bar.get_width() /2                            
    y = bar.get_height()                                            
    ax.annotate(percentage, (x, y), va = "bottom", ha ="center" )    
                                                                    
plt.show()

# Interpretation:It is clearly visible that there  are 78% of the houses where, pets(animals) are accepted.Rest 22% are not accepting pets or animals.

# Visual presentation of furniture column¶

In [ ]:
fig, ax = plt.subplots(figsize= (10, 7))
ax = sns.countplot(x = df["furniture"])
for bar in ax.patches:                                              
    percentage = f"{round(bar.get_height() /len(df), 2)}%"          
                                                                     
    x = bar.get_x() + bar.get_width() /2                            
    y = bar.get_height()                                            
    ax.annotate(percentage, (x, y), va = "bottom", ha ="center" )    
                                                                    
plt.show()

# Interpretation:It is clearly visible that only 24% of the houses are furnished only, rest 76% houses are not furnished.

# User defined function for calculating mean, median, mode, standard deviation, and count of all null values of Numerical column

In [ ]:
def info_of_numerical(col):
    print(f"The mean of the {col} is {df[col].mean()}")
    print(f"The median of the {col} is {df[col].median()}")
    print(f"The mode of the {col} is {df[col].mode()[0]}")
    print(f"The standard deviation of the {col} is {df[col].std()}")
    print(f"Number of missing values in the {col} is {df[col].isnull().sum()}")

# Analysis of the Area of House

In [ ]:
info_of_numerical("area")

In [ ]:
info_of_numerical("hoa (R$)")

In [ ]:
info_of_numerical("rent amount (R$)")

In [ ]:
info_of_numerical("property tax (R$)")

In [ ]:
info_of_numerical("fire insurance (R$)")

In [ ]:
info_of_numerical("total (R$)")

# Visual presentation of area column

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 5))

ax[0].set_title("Box plot")
ax[1].set_title("Histogram")

sns.histplot(x = df['area'], ax = ax[1], color ='lightgreen')  
sns.boxplot(x = df['area'], ax = ax[0], color ='b')   
plt.show()

In [ ]:
def outliers(column):
    print("The mean  is", df[column].mean())
    Q1=df[column].quantile(0.25)
    Q3=df[column].quantile(0.75)
    print('value of Q1 and Q3',Q1,',',Q3)
    IQR=Q3-Q1
    print('value of IQR',IQR)
    UF = Q3 + (1.5 * IQR) 
    LF = Q1 - (1.5 * IQR)
    print('value of UF and LF',UF,',',LF)
    outlier=[]
    for i in df[column]: 
            if (i<LF or i>UF):
                outlier.append(i)

    print("Outliers from IQR method: ", outlier)
    
    a = df[column].mean()
    for i in outlier:
        df[column]=df[column].replace(to_replace=i,value=a)

In [ ]:
outliers('area')

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 5))

ax[0].set_title("Box plot")
ax[1].set_title("Histogram")

sns.histplot(x = df['area'], ax = ax[1], color ='lightgreen')  
sns.boxplot(x = df['area'], ax = ax[0], color ='b')   
plt.show()

# Visual presentation of rent amount column

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 5))

ax[0].set_title("Box plot")
ax[1].set_title("Histogram")

sns.histplot(x = df['rent amount (R$)'], ax = ax[1], color ='lightgreen')  
sns.boxplot(x = df['rent amount (R$)'], ax = ax[0], color ='b')   
plt.show()

# Visual presentation of fire insurance column

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 5))

ax[0].set_title("Box plot")
ax[1].set_title("Histogram")

sns.histplot(x = df['fire insurance (R$)'], ax = ax[1], color ='lightgreen')  
sns.boxplot(x = df['fire insurance (R$)'], ax = ax[0], color ='b')   
plt.show()

In [ ]:
df.nunique()

# Visual presentation of total(rs) column

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 5))

ax[0].set_title("Box plot")
ax[1].set_title("Histogram")

sns.histplot(x = df['total (R$)'], ax = ax[1], color ='lightgreen')  
sns.boxplot(x = df['total (R$)'], ax = ax[0], color ='b')   
plt.show()

In [ ]:
outliers('total (R$)')

In [ ]:
fig, ax = plt.subplots(1, 2, figsize = (15, 5))

ax[0].set_title("Box plot")
ax[1].set_title("Histogram")

sns.histplot(x = df['total (R$)'], ax = ax[1], color ='lightgreen')  
sns.boxplot(x = df['total (R$)'], ax = ax[0], color ='b')   
plt.show()

# TASK-1  ANALYSIS OF ROOMS TO RELOCATE FOR BACHELORS|

# LEVEL-1 UNIVARIATE ANALYSIS

In [ ]:
#filtering the data for Bachelors to relocate
B_df = df[df['rooms']<=2]

In [ ]:
B_df

In [ ]:
def bar_percentage(ax, count: "number of rows in data "):
    for bar in ax.patches:                                            
        percentage = f"{round((bar.get_height() / count) *100, 2)}%"  
                                                                            
        x = bar.get_x() + bar.get_width() /2                          
        y = bar.get_height()                                         
        ax.annotate(percentage, (x, y), va = "bottom", ha = "center") 
                                                                      
                                                                      
    plt.show()
fig, ax = plt.subplots(figsize = (10, 7))
sns.countplot(x = "city", data = B_df)
plt.title('Bachelor wise room')
bar_percentage(ax, len(B_df))

Interpretation:As the above Countplot indicates that Port Alegre has the highest availability of rooms  that is approx 47% for Bachelors,those who wants single or double rooms.

# LEVEL-2  BIVARIATE ANALYSIS

# RELATIONSHIP OF CITY WITH AREA

In [ ]:
fig, ax = plt.subplots(figsize = (40, 7))
sns.countplot(x = "area", hue = "city", data = B_df)
plt.show()

Interpretation:As the above Countplot indicates that Port Alegre has the widest range of rooms available in the area than other two cities.Now for further analysis we will proceed to Multivaraiate analysis.

# LEVEL-3 MULTIVARIATE ANALYSIS

# Further Analysis
Which area is the best for Bachelors among the three cities?
which area has the most Spreaded?

# Deeper Analysis
Which city has the offer for Bachelors at most affordable price,so that they can relocate themselves.

In [ ]:
B_df1 = B_df[(B_df["area"] >= 30) & (B_df["area"] <= 100) & (B_df['bathroom']==1) &(B_df['furniture']=='not furnished') ]
B_df1
B_df1['total (R$)'].mean()

In [ ]:
B_df1 = B_df1[B_df1['total (R$)'] <=1686.98]
B_df1

In [ ]:
fig, ax = plt.subplots(figsize = (10, 6))
sns.boxplot(x = "area", y = "city", data = B_df1)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (30, 7))
sns.countplot(x = "area", hue= "city", data = B_df1)
plt.show()

### Interpretation:In  above countplot Belo Horizonte and Port Alegre are highly recommended here for  the houses of area between 30 to 100,with less than equal to 2 rooms at lowest price.So we can conclude that Belo Horizonte is the best suited city for Bachelors to relocate.

# TASK-2  ANALYSIS OF ROOMS TO RELOCATE FOR MID SIZE FAMILY

# LEVEL-1 UNIVARIATE ANALYSIS

1.Filtering the data as per the needs of Mid size family.
2.Visualization the distribution to understand with suitable graph.

In [ ]:
df['city'].nunique()

In [ ]:
df['city'].unique()

In [ ]:
#filtering the data according to needs of mid size family  to relocate
M_df = df[(df['rooms']>2) & (df['rooms']<=4)]
M_df

In [ ]:
def bar_percentage(ax, count: "number of rows in data "):
    for bar in ax.patches:                                            
        percentage = f"{round((bar.get_height() / count) *100, 2)}%"  
                                                                            
        x = bar.get_x() + bar.get_width() /2                          
        y = bar.get_height()                                         
        ax.annotate(percentage, (x, y), va = "bottom", ha = "center") 
                                                                      
                                                                      
    plt.show()
fig, ax = plt.subplots(figsize = (10, 7))
sns.countplot(x = "city", data = M_df)
plt.title('Mid size family wise room')
bar_percentage(ax, len(M_df))

Interpretation:As the above Countplot indicates that Belo Horizonte has the highest availability of rooms  that is approx 50% for mid size family,those who wants atleast 2 rooms and atmost 4 rooms.

# LEVEL-2  BIVARIATE ANALYSIS

# RELATIONSHIP OF CITY WITH AREA

In [ ]:
fig, ax = plt.subplots(figsize = (40, 8))
sns.countplot(x = "area", hue = "city", data = M_df)
plt.show()

Interpretation:As the above Countplot indicates that Belo Horizonte has the widest range of rooms available in the area than other two cities.Now for further analysis we will proceed to Multivaraiate analysis.

# LEVEL-3 MULTIVARIATE ANALYSIS

Further Analysis
Which area is the best for Mid size family among the three cities?
which area has the most Spreaded?
Which city has the houses at affordable price?

# Deeper Analysis
Which city has the offer for Mid size family at most affordable price,so that they can relocate themselves which is fulfilling all their basic needs

In [ ]:
# filter the total cost,area,furniture and parking space for mid size family
M_df = M_df[(M_df["area"] >=80) & (M_df["area"] <=200) & (M_df['bathroom']>=1) & (M_df['furniture']=='not furnished') & (M_df['floor']== 1)]
M_df
M_df['total (R$)'].mean()

In [ ]:
M_df1 = M_df[M_df['total (R$)'] <=2998.71]
M_df1

In [ ]:
fig, ax = plt.subplots(figsize = (10, 6))
sns.boxplot(x = "area", y = "city", data = M_df1)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (40, 7))
sns.countplot(x = "area", hue= "city", data = M_df1)
plt.show()

# Interpretation:Belo Horizonte is showing here the houses of area between 80 to 200,with atleast 2 rooms  and atmost 4 rooms at lowest price.So we can conclude that Belo Horizonte is the best suited city for Mid Size Family to relocate.

# TASK-2  ANALYSIS OF ROOMS TO RELOCATE FOR LARGE SIZE FAMILY

# LEVEL-1 UNIVARIATE ANALYSIS

1.Filtering the data as per the needs of Large size family.
2.Visualization the distribution to understand with suitable graphs/charts.

In [ ]:
#filtering the data according to needs of large size family  to relocate
L_df = df[(df['rooms']>=3) & (df['rooms']<=5)]
L_df

In [ ]:
def bar_percentage(ax, count: "number of rows in data "):
    for bar in ax.patches:                                            
        percentage = f"{round((bar.get_height() / count) *100, 2)}%"  
                                                                            
        x = bar.get_x() + bar.get_width() /2                          
        y = bar.get_height()                                         
        ax.annotate(percentage, (x, y), va = "bottom", ha = "center") 
                                                                      
                                                                      
    plt.show()
fig, ax = plt.subplots(figsize = (10, 7))
sns.countplot(x = "city", data = L_df)
plt.title('Large size family wise room')
bar_percentage(ax, len(L_df))

Interpretation:As the above Countplot indicates that Belo Horizonte has the highest availability of rooms that is approx 51% for mid size family,those who wants atleast 2 rooms and atmost 4 rooms.

# LEVEL-2  BIVARIATE ANALYSIS

# RELATIONSHIP OF CITY WITH AREA

In [ ]:
fig, ax = plt.subplots(figsize = (20, 8))
sns.countplot(x = "area", hue = "city", data = L_df)
plt.show()

Interpretation:As the above Countplot indicates that Belo Horizonte has the widest range of rooms available in the area than other two cities.Now for further analysis we will proceed to Multivaraiate analysis.

# LEVEL-3 MULTIVARIATE ANALYSIS

Further Analysis
Which area is the most suitable for large size family among the three cities?
which area has the most Spreaded?
Which city has the houses at 
affordable price according to the needs for large size family?

# Deeper Analysis
Which city has the best offer for Large size family at most affordable price,so that they can relocate themselves which is fulfilling all their basic needs.

In [ ]:
# filter the total cost,area,furniture and parking space for mid size family
L_df = L_df[(L_df["area"] >=210) & (L_df["area"] <=350) & (L_df['bathroom']>=2) & (L_df['furniture']=='not furnished')  & (L_df['animal']=='acept')  & (L_df['parking spaces']>= 1)]
L_df
L_df['total (R$)'].mean()

In [ ]:
L_df1 = L_df[L_df['total (R$)'] <=4740.71]
L_df1

In [ ]:
fig, ax = plt.subplots(figsize = (10, 6))
sns.boxplot(x = "area", y = "city", data = L_df1)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize = (40, 7))
sns.countplot(x = "area", hue= "city", data = L_df1)
plt.show()

# Interpretation:Belo Horizonte is highly recommended  for the houses in which area between 210 to 350,with atleast 3 rooms  and atmost 5 rooms at lowest price.So we can conclude that Belo Horizonte is the best suited city for Large Size Family to relocate.